# Android generated
bin
gen
libs
obj
/release
/androidTest
/test
lint.xml
*.apk
*.iml
*.jks
*.keystore
*.pepk

# IntelliJ IDEA
.idea
*.iml
*.ipr
*.iws
classes
gen-external-apklibs

# Eclipse
.project
.classpath
.settings
.checkstyle
.cproject

# Gradle
.gradle
build
buildout
out

# Maven
target
release.properties
pom.xml.*

# Ant
ant.properties
local.properties
proguard.cfg
proguard-project.txt

# Other
.DS_Store
dist
tmp
